<div class="top">
  <div class="container">
      <div id="content" class="no-sidebar">
          <h1>Whoops!</h1>
          <p class="lead">404 - Page not found</p>
          <div class="fire hidden-phone hidden-print">
              <p class="initial">
                  One of our Development Team must be punished for this unacceptable failure!
              </p>
              <h2 class="initial">Pick who to fire!</h2>
                                  <h2 class="luker message show-fire">Luke, you're fired!</h2>
                                  <h2 class="jamesd message show-fire">James, you're fired!</h2>
                                  <h2 class="martinp message show-fire">Martin, you're fired!</h2>
                                  <h2 class="chrism message show-fire">Chris, you're fired!</h2>
                              <div class="arrow">
                                          <img class="arrow luker show-fire" src="./Page Not Found_files/spacer.gif">
                                          <img class="arrow jamesd show-fire" src="./Page Not Found_files/spacer.gif">
                                          <img class="arrow martinp show-fire" src="./Page Not Found_files/spacer.gif">
                                          <img class="arrow chrism show-fire" src="./Page Not Found_files/spacer.gif">
                                  </div>
              <div class="pics"><img src="./Page Not Found_files/spacer.gif"></div>
          </div>
      </div>
  </div>
</div>