<div class="top">
    <div class="container">
        <div id="content" class="no-sidebar">
            <h1>Whoops!</h1>
            <p class="lead">404 - Page not found</p>
            <div *ngIf="nobodyFired">
                <p class="initial">
                    One of our Development Team must be punished for this unacceptable failure!
                </p>
                <h2 class="initial">Pick who to fire!</h2>
            </div>
            <div>
                <h2 class="initial" *ngIf="lukeFiredFlag">Luke, you're fired!</h2>
                <h2 class="initial" *ngIf="jamesFiredFlag">James, you're fired!</h2>
                <h2 class="initial" *ngIf="martinFiredFlag">Martin, you're fired!</h2>
                <h2 class="initial" *ngIf="chrisFiredFlag">Chris, you're fired!</h2>
            </div>
            <div class="initial arrow" *ngIf="nobodyFired">
                <!-- <img src="assets/img/arrow.png" alt="logo"> -->
            </div>
 
            <div class="initial arrow luker-arrow" *ngIf="lukeFiredFlag">
                <!-- <img src="assets/img/arrow.png" alt="logo"> -->
            </div>

            <div class="initial arrow james-arrow" *ngIf="jamesFiredFlag">
                <!-- <img src="assets/img/arrow.png" alt="logo"> -->
            </div>

            <div class="initial arrow martin-arrow" *ngIf="martinFiredFlag">
                <!-- <img src="assets/img/arrow.png" alt="logo"> -->
            </div>

            <div class="initial arrow chris-arrow" *ngIf="chrisFiredFlag">
                <!-- <img src="assets/img/arrow.png" alt="logo"> -->
            </div> 

            <div class="initial staff-image" *ngIf="nobodyFired">
            </div>

            <div class="initial staff-image fire-luker" *ngIf="lukeFiredFlag">
            </div>

            <div class="initial staff-image fire-james" *ngIf="jamesFiredFlag">
            </div>

            <div class="initial staff-image fire-martin" *ngIf="martinFiredFlag">
            </div>

            <div class="initial staff-image fire-chris" *ngIf="chrisFiredFlag">
            </div>

        </div>
    </div>
</div>



<div class="jumbotron">
    <div class="container ">
        <!-- <div *ngIf="nobodyFired"> -->
        <div>
            <button type="button" class="btn btn-primary staff-button" (click)="fireDeveloper('luke')">Luke</button>
            <button type="button" class="btn btn-primary staff-button" (click)="fireDeveloper('james')">James</button>
            <button type="button" class="btn btn-primary staff-button" (click)="fireDeveloper('martin')">Martin</button>
            <button type="button" class="btn btn-primary staff-button" (click)="fireDeveloper('chris')">Chris</button>
        </div>

        <div class="initial initial-text" *ngIf="nobodyFired">
            In a forgiving mood? Let them all keep their jobs.
        </div>

        <div *ngIf="lukeFiredFlag">
            <p class="lead initial initial-text">Poor Luke</p>
            <p class="message">We're not saying revenge is in Luke's nature, but you might want to change your IP address now!</p>
        </div>
        <div *ngIf="jamesFiredFlag">
            <p class="lead initial initial-text">Poor James</p>
            <p class="message">He has his Klingon oral exam in a couple of weeks so he can use this extra time to revise.</p>
        </div>
        <div *ngIf="martinFiredFlag">
            <p class="lead initial initial-text">Poor Martin</p>
            <p class="message">Oh Great, Thanks a lot! You just lost us an unpaid employee. Martin is a Venture Scout and he was just volunteering
                at Emailcenter to get his coding badge!</p>
        </div>
        <div *ngIf="chrisFiredFlag">
            <p class="lead initial initial-text">Poor Chris</p>
            <p class="message">At least his Quidditch team mates will be happy, as he can now focus on winning them the league. Chris plays
                beater for the Milton Keynes Marauders.</p>
        </div>



        <div class="initial initial-text">
            Return to the
            <a href="">homepage</a>.
        </div>
    </div>
</div>