/* .fire .initial, body.error404 .fire .return {
    text-align: center;
}

body.error404 .fire h2 {
    color: #000000;
    text-transform: uppercase;
}

h2, h2 a, h2 a:hover {
    font-size: 17px;
}

h1, h2, h3 {
    line-height: 40px;
}

body.error404 .fire .arrow {
    height: 50px;
}

.arrow {
    align-self: center;
}

body.error404 .fire .arrow {
    position: relative;
}


div {
    display: block;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 980px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

.arrow-poisition {
    position: unset;
    padding-left: 125px;
} */



body {
    margin-top:0 !important;
    padding-top:0 !important;
    /*min-width:800px !important;*/
  }
  .wb-autocomplete-suggestions {
      text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
      position: absolute; display: none; z-index: 2147483647; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
  }
  .wb-autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
  .wb-autocomplete-suggestion b { font-weight: bold; }
  .wb-autocomplete-suggestion.selected { background: #f0f0f0; }