.initial { 
    text-align: center; 
}

.staff-image {  
    background-image: url('/assets/img/staff.jpg'); 
    width: 980px; 
    height: 302px; 
    background-position: 0 0; 
} 

.staff-image.fire-luker{
    background-position: 0 -302px;
}
.staff-image.fire-james{
    background-position: 0 -604px;
}
.staff-image.fire-martin{
    background-position: 0 -906px;
}
.staff-image.fire-chris{
    background-position: 0 -1208px;
}
.staff-button {
    min-width: 130px;
    color: #fff;
    line-height: 22px;
    text-shadow: none;
    border: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #3E87DF;
    background: -moz-linear-gradient(top, #3E87DF 0%, #2271D0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3E87DF), color-stop(100%,#2271D0));
    background: -webkit-linear-gradient(top, #3E87DF 0%,#2271D0 100%);
    background: -o-linear-gradient(top, #3E87DF 0%,#2271D0 100%);
    background: -ms-linear-gradient(top, #3E87DF 0%,#2271D0 100%);
    background: linear-gradient(to bottom, #3E87DF 0%,#2271D0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E87DF', endColorstr='#2271D0',GradientType=0 );
    margin-right: 145px;
    margin-bottom: 15px;
}

.initial-text {
    margin-bottom: 15px;
    margin-top: 15px;
}
.lead {
    font-size: 23px;
    line-height: 10px;
    color: #000;
}

.message {
    font-size: 18px;
    color: #777777;
    margin-top: 25px;
}

.arrow {
    background-image: url(/assets/img/arrow.png);
    width: 980px;
    height: 106px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-left: 135px;
}
.arrow.luker-arrow { left: 183px; bottom: 6px; width: 192px; height: 87px; background-position: 0px 0px; }
.arrow.james-arrow { left: 382px; width: 56px; height: 56px; background-position: -250px -41px;}
.arrow.martin-arrow {right: 128px; bottom: 10px; width: 232px; height: 85px; background-position: -504px 0px;  }
.arrow.chris-arrow { left: 522px; width: 82px; height: 58px; background-position: -409px -41px; }



