<!-- main app container -->

<div class="container">

  <div class="col-md-6 offset-md-3 text-padding">
    <h2>Settings</h2>
    <div>
      <h4>Email settings</h4>
      <hr>
      <div>
        <p>
          <b>Your email</b>
        </p>
        <div>
          demo@example.com
         
        </div>
        <br>
      </div>
    </div>

    <div>
        <h4>Account settings</h4>
        <hr>
        <div>
          <p>
            <b>Your username </b>
          </p>
          <div>
            https//:example.com/username
            <button type="button" class="btn btn-secondary float-right">Edit Username</button>
          </div>
          <br>
          <div>
             Change Password
          <button type="button" class="btn btn-secondary float-right">Change</button>
            </div>
            <br>
            <div>
               Manage blocked user
            <button type="button" class="btn btn-secondary float-right">manage</button>
              </div>

              <br>
        </div>
      </div>

      <div>
          <h4>Security</h4>
          <hr>
          <div>
              <div>
                  Sign out from all other sessions
                  <button type="button" class="btn btn-secondary float-right">Sign out</button>
                </div>
           
            <br>
          </div>

          <div>
              <div>
                  Deactivate account

                  <button type="button" class="btn btn-secondary float-right">Deactivate account
                    </button>
                </div>
           
            <br>
          </div>

          <div>
              <div>
                  Delete account

                  <button type="button" class="btn btn-secondary float-right">Delete account
                    </button>
                </div>
           
            <br>
          </div>
        </div>
  </div>

</div>